<p id="notice"><%= notice %></p>

<h1>Listing Movements</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Currency</th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= link_to (humanized_money_with_symbol movement.amount), edit_movement_path(movement) %></td>
        <td><%= link_to 'Delete', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movement', new_movement_path %>
