<%# add navigation links to this file %>
    <ul class="left">
      <li><%= link_to "Accounts", accounts_path %> </li>
      <li><%= link_to "Movements", movements_path %> </li>
      <li><%= link_to "Categories", categories_path %> </li>
    </ul>
    <ul class="right">
      <li><%= link_to "Profiles", profiles_path %> </li>

    </ul>